# vim
*.swp

# cmake
build
out

# proto
*.bin

# caffemodel
*.caffemodel

# python cache
__pycache__

# dot image
*.png

# json
*.json

# dot
*.dot

# pdf
*.pdf

# ctag
tags

# exec_json
*.exec_json

# csv
*.csv

# tensorflow
/tensorflow
/models
/datasets

# mnist ckpts
sandbox/mnist/*/*.pb
sandbox/mnist/*/ckpts
sandbox/mnist/*/export
sandbox/mnist/*/summary
sandbox/mnist/*/dots
sandbox/*.apk

# float-ops ckpts
sandbox/ops/float-ops/*/*.pb
sandbox/ops/float-ops/*/ckpts
sandbox/ops/float-ops/*/export
sandbox/ops/float-ops/*/summary
sandbox/ops/float-ops/*/dots
sandbox/ops/float-ops/*/*.pyc

# quant-ops ckpts
sandbox/ops/quant-ops/*/*.pb
sandbox/ops/quant-ops/*/ckpts
sandbox/ops/quant-ops/*/export
sandbox/ops/quant-ops/*/summary
sandbox/ops/quant-ops/*/dots
sandbox/ops/quant-ops/*/*.pyc

# rnn-ops ckpts
sandbox/ops/rnn-ops/*/*.pb
sandbox/ops/rnn-ops/*/ckpts
sandbox/ops/rnn-ops/*/export
sandbox/ops/rnn-ops/*/summary
sandbox/ops/rnn-ops/*/dots
sandbox/ops/rnn-ops/*/*.pyc

# uint8-ops ckpts
sandbox/ops/uint8-ops/*/*.pb
sandbox/ops/uint8-ops/*/ckpts
sandbox/ops/uint8-ops/*/export
sandbox/ops/uint8-ops/*/summary
sandbox/ops/uint8-ops/*/dots
sandbox/ops/uint8-ops/*/*.pyc
