# vim
*.swp

# cmake
build
out

# proto
*.bin

# caffemodel
*.caffemodel

# python cache
__pycache__

# dot image
*.png

# json
*.json

# dot
*.dot

# pdf
*.pdf

# ctag
tags

# exec_json
*.exec_json

# csv
*.csv

# tensorflow
tensorflow
models
datasets

# mnist ckpts
sandbox/mnist/*/*.pb
sandbox/mnist/*/ckpts
sandbox/mnist/*/export
sandbox/mnist/*/summary
sandbox/mnist/*/dots
sandbox/*.apk

# float-ops ckpts
sandbox/float-ops/*/*.pb
sandbox/float-ops/*/ckpts
sandbox/float-ops/*/export
sandbox/float-ops/*/summary
sandbox/float-ops/*/dots
sandbox/float-ops/*/*.pyc

# quant-ops ckpts
sandbox/quant-ops/*/*.pb
sandbox/quant-ops/*/ckpts
sandbox/quant-ops/*/export
sandbox/quant-ops/*/summary
sandbox/quant-ops/*/dots
sandbox/quant-ops/*/*.pyc

# rnn-ops ckpts
sandbox/rnn-ops/*/*.pb
sandbox/rnn-ops/*/ckpts
sandbox/rnn-ops/*/export
sandbox/rnn-ops/*/summary
sandbox/rnn-ops/*/dots
sandbox/rnn-ops/*/*.pyc
