# vim
*.swp

# cmake
build
out

# proto
*.bin

# caffemodel
*.caffemodel

# python cache
__pycache__

# dot image
*.png

# json
*.json

# dot
*.dot

# pdf
*.pdf

# ctag
tags

# exec_json
*.exec_json

# csv
*.csv

# tensorflow
tensorflow

# ckpts
sandbox/mnist/*/*.pb
sandbox/mnist/*/ckpts
sandbox/mnist/*/export
sandbox/mnist/*/summary
sandbox/mnist/*/dots
sandbox/*.apk
