# datasets
datasets

# cocoapi
cocoapi

# mobilenet-ssd-coco
mobilenet_ssd_coco/*

# mobilenet-ssd-coco-pretrained
mobilenet_ssd_coco_pretrained/*

# mobilenet_ssd_coco_quant
mobilenet_ssd_coco_quant/*

# mobilenet-ssd-coco-pretrained-mobilenet
mobilenet_ssd_mscoco_quant_pretrained_mobilenet/*

# mobilenet-ssd-pets
mobilenet_ssd_pets/*

# mobilenet_ssd_pets_quant
mobilenet_ssd_pets_quant/*

# pyc
*.pyc

# npy
*.npy
