# datasets
datasets

# cocoapi
cocoapi

# mobilenet-ssd-coco
mobilenet_ssd_coco/*

# mobilenet_ssd_coco_quant
mobilenet_ssd_coco_quant/*

# mobilenet-ssd-pets
mobilenet_ssd_pets/*

# mobilenet_ssd_pets_quant
mobilenet_ssd_pets_quant/*

# pyc
*.pyc

# npy
*.npy
