# datasets
datasets

# cocoapi
cocoapi

# mobilenet-ssd-pets
train_mobilenet_ssd_pets*
eval_mobilenet_ssd_pets*
export_mobilenet_ssd_pets*

# mobilenet_ssd_pets_quant/*
mobilenet_ssd_pets_quant/*

# pyc
*.pyc

# npy
*.npy
