# tf-image-segmentation
tf-image-segmentation-upstream

# fcn dataset and weight
/datasets/benchmark.tgz
/datasets/VOCtrainval_11-May-2012.tar
/datasets/VOCdevkit
/datasets/benchmark_RELEASE
/datasets/*.tfrecords
/vgg_16_ckpts

# python modules
*.pyc

# fcn_32s
fcn_32s/ckpts
fcn_32s/logs
fcn_32s.tar.gz
fcn_32s/models

# fcn_16s
fcn_16s/ckpts/
fcn_16s/logs/
fcn_16s.tar.gz
fcn_16s/models

# fcn_8s
fcn_8s/ckpts/
fcn_8s/logs/
fcn_8s.tar.gz
