# tf-image-segmentation
tf-image-segmentation

# fcn dataset and weight
/datasets/benchmark.tgz
/datasets/VOCtrainval_11-May-2012.tar
/datasets/VOCdevkit
/datasets/benchmark_RELEASE
/datasets/*.tfrecords
/vgg_16_ckpts/vgg_16.ckpt
/vgg_16_ckpts/vgg_16_2016_08_28.tar.gz

# python modules
*.pyc

# fcn_32s
fcn_32s/ckpts/
fcn_32s/logs/
